html {
    line-height: 1.15; 
  }


body {
    max-width: 1700px;
    background-color: #222930;
    color: #E9E9E9;
    font-family: montserrat,sans-serif;
    margin: auto;
}

h1{
    font-family: source sans pro,sans-serif;
    font-weight: 1000;
    font-size: 3em;
    line-height: 21px;
    letter-spacing: .08em;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.text_blue{
    color:#4EB1BA
}

.text_primary {
    font-family: source sans pro,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: .08em;
}

.text_primary p{
    margin: 30px 0px 30px 0px;
}

.text_primary_strong {
    font-family: source sans pro,sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .05em;
}

.text_primary_title {
    font-family: source sans pro,sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 21px;
    letter-spacing: .05em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text_primary_nav{
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.065em;
}

.title-primary {
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .02em;
    color: #E9E9E9;
}

.standard-sectionTitle {
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: .09em;
    color: #E9E9E9;
    max-width:fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}

.standard-sectionTitle p{
    display: inline-block;

}

.underline{
    text-decoration: none; 
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: -4px; 
    left: 0;
	height: 6px;
    border-radius: 2px;
	background: #4EB1BA;
    width: calc(100% - 1px);
    top: calc(100% + 6px);
}


.text_center{
    text-align: center;
}

.text_right{
    text-align: right;
}

#privacy_ul {
    margin: 30px 0px 30px 0px;
}

#privacy_ol {
    margin: 30px 0px 30px 0px;
    list-style: decimal;
}

li::marker{
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: start !important;
}

.max_width_75{
    max-width: 75%;
}

.max_width_25{
    max-width: 25%;
}

.logo_link{
    display: contents;
}

a:visited { 
    text-decoration: none; 
    color: #E9E9E9; 
}

a:any-link{
    text-decoration: none; 
    color: #E9E9E9; 
}

.outer_wrp_nav{
    height: 100px;
    margin:20px 100px 20px 100px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    place-content: center space-between;
}

.nav_ruler{
    margin:0px 100px 40px 100px;
    background-color: #4EB1BA;
    height: 5px;
    border-radius: 6px;
    border: 0;
}

.logo_img{
    height: 100%;    
}

ol, ul {
    list-style-type: none;
    margin:0;
    padding:0;   
}
  
.navigation li {
    display: inline-flex;
    text-align: center;
    padding: 0px 8px 0px 8px;  
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials_border{
    border-radius: 10px;
    padding: 6px;
    width: 22px;
    height: 22px;
    opacity: 0.7;
    transition: opacity 0.18s ease;
}

.socials_border:hover{
    opacity: 1;
}


.main_outwrp {
    margin:20px 100px 20px 100px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;      
}

.content_center {
    place-content: center;
}


.streams{
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #8a7b5a; 
    /* #303030; */
}


.partners_banner{
    border-style: solid;
    border-color: grey;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    padding: 30px 0px 30px 0px;
    margin: 40px 100px 20px 100px;
}

.partners_banner_wrp{
    display: flex;
    justify-content: space-between;    
    padding: 0px 15px 0px 15px;
}

.partners_logos {
    width: auto !important;
    height: 83px !important;
    display: block;
    max-width: 331px;
    object-fit: contain;
    margin:0 auto;
    opacity: 0.7;
    transition: opacity 0.18s ease;
}

.partners_logos:hover{
    opacity: 1;     
}

footer{
    width: 100%;
}

.footer_wrp{
    padding: 12px 0 12px 15px;
    margin:20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: grey;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    padding-bottom: 100px;
}

.footer_wrp ul{
    padding:0 15px;
}

.footer_menu{
    display: inline-flex;
}



.copyrights_policy_wrp {
    padding: 0px 15px 0px 15px;
    margin:0px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.word_box{
    border-radius: 6px;
    border:0;
    padding: 0.5em;
    background-color:#4EB1BA;
}


.team_banner_wrp{
    padding: 12px 0px 12px 0;
    margin:20px 100px 20px 100px;
}


.grid_outwrp1row {
    margin:20px 100px 20px 100px;
    padding-left: 15px;
    padding-right: 15px;
    display: grid; 
    grid-template-columns: 75% 1fr;
    grid-gap: 2rem;
}

.grid_innerwrp1row {
    display: grid; 
    grid-template-columns: 45% 1fr;
    grid-gap: 0.2rem;
    border-color: #8a7b5a;
    /* Grey */
    border-style: solid;
    border-width: 1px;
    border-radius:10px 10px 10px 10px;
    margin-right: 2rem;
}

.grid_innerwrp1row_middle {
    display: grid; 
    grid-template-columns: 1fr 45%;
    grid-gap: 0.2rem;
    border-color: #8a7b5a;
    border-style: solid;
    border-width: 1px;
    border-radius:10px 10px 10px 10px;
    margin-left: 4rem;
    
}


.grid_innerwrp1row p{
    word-break:normal;
    
}


.flex_column{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}


.flex_item{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: source sans pro,sans-serif;
    letter-spacing: .08em;
}


.image{
    border-radius:10px;
    display: block;
    width: 100%;
    height: auto;
    
}

.image_square {
    display: block;
    width: 100%;
    height: auto;
}


.article_summary{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.article_summary_middle{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}


.article_button{
    padding: 20px;
    border-radius: 6px;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 147.2%;
    letter-spacing: .04em;
    color: #E9E9E9;
    padding: 6px 15px;
    background: #4EB1BA;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    border: 2px solid rgb(78, 177, 186);
    box-sizing: border-box;
    align-self: center;
}

.article_button:hover{
    color: rgba(255, 255, 255, 1);
    /* box-shadow: 0 5px 15px rgba(78, 177, 186, .4); */
    box-shadow: 0 5px 15px rgba(138, 123, 90, .4);
    transition: 0.2s ease;
}


.grid_raiders {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    
}

.grid_innerwrpraiders {
    display: grid; 
    grid-template-columns: 40% 1fr;
    grid-gap: 0.2rem;
    border-color: rgb(138, 123, 90);
    /* #303030; Dark Grey*/
    /* Grey */
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    
}

.raiders_summary{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;
    display:flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.raiders_summary p{
    margin: 5px 0px 5px 0px;
    

}

.videos_preview {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    justify-content: flex-start;
}

.videos_preview p{
    margin: 8px;
}

.videos_preview img:hover{

  transform: scale(1.03) rotate(0.5deg);
  transition: 0.32s ease;

}

.video_title{
    display: flex;
    align-self: flex-start;
    align-items: center;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .02em;
    color: #E9E9E9;
}

.video_title p{
    margin-left: 6px;
    
}

.video_title img{
    height: 30px;
}

.staff_summary{
    margin-right: 1rem;
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.staff_summary p{
    margin: 5px 0px 5px 0px;

}

.grid_videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;  
}

.partners_cointaner{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    max-width: 100%;
}

.partners_holder{
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    max-height: 100%;
    margin: 0px -32px -32px 0px;
}

.partner_wrp{
    flex: 1 1 50%;
    box-sizing: border-box;
    max-width: 50%;
    order: 1;
    padding: 0px 32px 32px 0px;
    
}

.partner_item{
    background-color: #2b343c;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8a7b5a;
    /* grey */

    padding: 24px;
    height: 100%;
}

.partner_item .partners_logos{
    opacity: 1;
}

.partner_item .socials{
    margin: 20px 0;
}

.logo_vids{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.pop_out {
        transition: 0.25s;
      }
      
.pop_out:hover {
    transform: scale(1.03);
    box-shadow: 8px 8px 8px 8px rgba(68, 68, 68, 0.2);
}

.container {
    position: relative;
}

.fade_right {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #22293000 30%,#222930 100%);
    position: absolute;
    border-radius: 10px;
}

.fade_left {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #22293000 30%,#222930 100%);
    position: absolute;
    border-radius: 10px;
}


.footer_menu a{
    transition: 0.25s;
}

.footer_menu a:hover{
    font-weight: bolder;
}